.basketCard {
  background: #f4f2f2;
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  height: 30px;
  &Button {
    width: 35px;
    text-align: center;
    transition: 100ms linear;
    &:hover {
      transform: translateY(-2px)
    }
  }
  &Plus{

  }
  &Minus {

  }
  &Text{
    width: 35px;
    text-align: center;
    line-height: 30px;
  }
}

.basketContainer {
  width: 100%;
}

.basketBorder {
  border-bottom: 1px solid #222;
}