.card {
    position: relative;
    border-radius: 5px;
    transition: 150ms ease;
    background-color: #1d1e1f;
    border: 1px solid #222;
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
        padding: 8px;
    }

    &:hover {
        transform: translateY(-2px)
    }
}
.rating {
    position: absolute;
    top: var(--mantine-spacing-xs);
    right: 12px;
    pointer-events: none;
}

.title {
    margin-top: var(--mantine-spacing-md);
    margin-bottom: 5px;
}

.country {
        margin-top: var(--mantine-spacing-sm);
}

.footer {
    margin-top: var(--mantine-spacing-sm);
}