.header {
    height: 62px;
    border-bottom: 1px solid #222;
    width: 100%;
}
.headerInner {
    width: 100%;
}
.inner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    background-color: #D7263D;
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
}

